.job-listings {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.job-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px 0;
  padding: 15px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
}

.job-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.job-title {
  font-size: 1.1em;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

.job-company {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 8px;
}

.job-location {
  font-size: 0.8em;
  color: #555;
  margin-bottom: 8px;
}

.job-time {
  font-size: 0.75em;
  color: #999;
  margin-bottom: 12px;
}

.job-count {
  font-size: 0.75em;
  color: #999;
  position: absolute;
  top: 15px;
  right: 15px;
}

@media (max-width: 1480px) {
  .job-count {
    right: 50px; /* Adjust this value to ensure content is visible */
  }
}

.job-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.job-details.show {
  max-height: 1000px; /* A large enough value to fit all content */
}

.job-details h4 {
  margin: 0;
  font-size: 1em;
  color: #333;
  margin-bottom: 8px;
}

.job-details p {
  font-size: 0.8em;
  color: #666;
  margin-bottom: 8px;
}

.job-details button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.job-details button:hover {
  background-color: #0056b3;
}

.suggestion-item {
  display: flex;
  align-items: center;
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.load-more-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.load-more-button:hover {
  background-color: #0056b3;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em;
}

button:hover {
  background-color: grey;
}

/* Add media queries for smaller screens */
@media (max-width: 1550px) {
  .job-listings {
    padding-top: 40px; /* Adjust this value to ensure content is visible */
  }
}

@media (max-width: 1400px) {
  .job-listings {
    padding-top: 40px; /* Adjust this value to ensure content is visible */
  }
}

@media (max-width: 1000px) {
  .job-listings {
    padding-top: 90px; /* Adjust this value to ensure content is visible */
  }
}

@media (max-width: 850px) {
  .job-listings {
    padding-top: 110px; /* Adjust this value to ensure content is visible */
  }
}

@media (max-width: 700px) {
  .job-listings {
    padding-top: 150px; /* Adjust this value to ensure content is visible */
  }
}

@media (max-width: 480px) {
  .job-listings {
    padding-top: 150px; /* Adjust this value to ensure content is visible */
  }
}
