.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap; /* Enable wrapping */
}

.search-form div {
  display: flex;
  align-items: center;
  margin: 5px;
}

.search-form label {
  font-size: 16px;
  margin-right: 10px;
  font-weight: bold;
  color: #ddd;
}

.search-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #444;
  color: #f1f1f1;
  font-size: 1em;
  min-width: 150px;
}

.search-form button {
  padding: 10px 20px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em;
}

.search-form button:hover {
  background-color: #0056b3;
}

.suggestions-container {
  position: absolute;
  background-color: #444;
  border: 1px solid #555;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  max-height: 150px; /* Reduced max-height */
  overflow-y: auto;
  width: 100px; /* Set a specific width */
  padding: 5px; /* Add padding to container */
}

.suggestion-item {
  padding: 3px; /* Reduced padding */
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 0.6em; /* Reduced font size */
}

.suggestion-item:hover {
  background-color: #555;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .search-form {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start;
  }

  .search-form div {
    width: 100%;
    margin: 5px 0;
  }

  .search-form label {
    width: 100%;
    margin-right: 0;
  }

  .search-form input {
    width: calc(100% - 20px);
  }

  .search-form button {
    width: 100%;
  }
}
