/* App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 120px; /* Adjust this value to match the height of your search form */
}

form {
  margin-bottom: 20px;
  color: #282c34; /* Set the font color to dark */
}

form div {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #282c34; /* Set the font color to dark */
  background-color: #fff; /* Ensure the button background is visible */
}

label {
  color: #f9f9f9;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #fff;
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  color: #282c34; /* Set the font color to dark */
}

h3,
p,
a {
  color: #282c34; /* Set the font color to dark */
}

.job-details {
  background-color: #f9f9f9;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #2b2b2b;
  color: #f1f1f1;
}

.content {
  padding: 20px;
}
